/* .logoIcon{

} */
.loginBg{
    width:526px;
    height: 612px;
    align-items: center;
    display: flex;
    flex-direction: column;
 

}
.frontBg{
    display: flex;
    justify-content: center;
   
}
.listTitle{
    
    height: 70px;
    display: flex;
    
}
.loginLine,.registerLine{
    display: inline-block;
    margin-left:100px;
}


/* .password,.registerName,.college,.registerAccount,.checkWord{

} */

.loginBtn,.registerBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#040404;
    font-size:24px;
    width: 234px;
   
    
      
}
.options{
    display: flex;
    /*justify-content: space-around;*/
    width: 100%;

}

.centerContent{
    margin-top:218px;
    align-items: center;
    flex-direction: column;
    display: flex;

}

.inputArea{
    width: 467px;
    display: flex;
    flex-direction: column;
}
.inputItem{
    display: flex;
    height: 58px;
}
.inputTip{
    display:flex;
    align-items: center;

    color:#040404;
    font-size:24px;
}
.inputBox{
    border: none;
    font-size: 24px;
    flex:1;
    width: 100px;
}



.conformBtn{
    font-size:24px;
    color:#ffffff;
    border: none;
    outline: none;
    background-color: transparent;
    
    
}