.logoIcon{
    margin-top:218px ;
    margin-bottom: 58px;
    margin-left: 727px;
}
.registerBg{
    width: 100%;
    margin: 0;
    padding: 0;
}
.registerForm span{
    display: block;
    font: 24px/45px;
}

.password{

}